@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400&family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #0C0B10;
  --title-color: #b3ccff;
  --card-color: #121620;
  --number-card: #1a4cd8;
  --number-card-hover: #b3ccff;
  --description-card: #cccccc;
  --button-color: #2468ff;
  --button-icon: #1a4cd8;
  --date-card: #10b981;
  --title-color: #cce0ff;
  --foreground: #171717;
  --font-coda: "Coda", var(--font-geist-sans), Inter, sans-serif;
  --font-inter: "Inter", var(--font-geist-sans), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-title: var(--title-color);
  --color-card: var(--card-color);
  --color-numberCard: var(--number-card);
  --color-numberCardHover: var(--number-card-hover);
  --color-descriptionCard: var(--description-card);
  --color-button: var(--button-color);
  --color-buttonIcon: var(--button-icon);
  --color-dateCard: var(--date-card);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-coda: var(--font-coda);
  --font-mono: var(--font-geist-mono, "monospace");
  --container-max-width: 1440px;
  --container-padding: 1.5rem;
  --color-custom-blue: #2468ff;
  --color-dark-blue: #1a4cd8;
  --breakpoint-xs: 480px;
  --breakpoint-md: 800px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer utilities {
  .container {
    max-width: 1472px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
  .font-coda {
    font-family: var(--font-coda);
  }
}

/* @media (min-width: 1024px) {
  .custom-swiper {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
} */
@media (min-width: 1200px) {
  .custom-swiper {
    overflow: unset !important;
  }
}

/* @media (min-width: 1440px) {
  .custom-swiper {
    padding-left: 290px !important;
    padding-right: 0px !important;
  }
} */

.swiper-pagination {
  display: flex !important;
  justify-content: center !important;
  margin-top: 3.5rem !important;
  gap: 0.5rem !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 6px !important;
  border-radius: 9999px !important;
  background-color: #aaa !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  width: 32px !important;
  background-color: #fff !important;
}

.swiper-slide {
}
.swiper-slide {
}
.animated-iframe {
  animation: slowMove 7000s linear infinite;
}

@keyframes waveTopAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

@keyframes waveMiddleAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500px);
  }
}

@keyframes waveBottomAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

.waveTop {
  animation: waveTopAnim 10s linear infinite;
  will-change: transform;
}

.waveMiddle {
  animation: waveMiddleAnim 10s linear infinite;
  will-change: transform;
}

.waveBottom {
  animation: waveBottomAnim 10s linear infinite;
  will-change: transform;
}

.header-blur-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  pointer-events: none;
}

.section-blur-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(80px); /* hoặc 5px tùy bạn */
  mask-image: linear-gradient(to top, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 70%, transparent 100%);
  pointer-events: none;
}
